<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <!-- <i class="fa fa-4x fa-truck wow bounceIn text-primary"></i> -->
                  <img src="img/excavator-2.png" class="service-icons" />
                    <h3>Equipment Rental</h3>
                    <p class="text-muted">Renting out various earthmoving machines such as excavators, bulldozers, loaders, graders, and backhoes on a short-term or long-term basis.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <!-- <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                  <img src="img/courier.png" class="service-icons" />
                    <h3>Operator Services</h3>
                    <p class="text-muted">Providing skilled and certified machine operators along with the rental equipment for efficient and safe operation.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <!-- <i class="fa fa-4x fa-wrench wow bounceIn text-primary" data-wow-delay=".2s"></i> -->
                  <img src="img/maintenance.png" class="service-icons" />
                    <h3>Maintenance & Support</h3>
                    <p class="text-muted">Offering regular maintenance, servicing, and emergency repair support to ensure the rented equipment remains in optimal working condition.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <!-- <i class="fa fa-4x fa-building wow bounceIn text-primary" data-wow-delay=".3s"></i> -->
                  <img src="img/preparation.png" class="service-icons" />
                    <h3>Site Consultation & Project Assistance</h3>
                    <p class="text-muted">Assisting clients in selecting the right equipment for their specific project needs and providing guidance on efficient usage to maximize productivity.</p>
                </div>
            </div>
        </div>
    </div>
</section>
